[Unit]
Description=human-gridworlds

[Service]
User=root
Type=simple
TimeoutSec=900
ExecStartPre=/bin/sh -c 'cd server && /usr/local/go/bin/go build && mv human-gridworlds server'
ExecStart=/root/code/human-gridworlds/server/server
WorkingDirectory=/root/code/human-gridworlds/

[Install]
WantedBy=multi-user.target
